{% load humanize %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

<style>
    div.wrapper {
        display: block;

        > div {
            display: inline-block;
            vertical-align: top;
        }
        div.col1 {
            width: 300px;
            margin-right: 50px;
        }
        div.col2 {
            width: 50%;
        }
    }
    div.field { margin-bottom: 15px; }
    div.reset-link { text-align:right; }
    div.error-div { color: red; margin-bottom: 37px; }
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 3px;
    }
    form {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        width: 300px;
    }
    input {
        border-radius: 9px;
        font-size: 16px;
        margin: 10px 0;
        padding: 8px;
    }
    input[type="submit"] {
        background-color: #475c8a;
        border: none;
        color: white;
        cursor: pointer;
        padding: 10px 15px;

        &:hover {
            background-color: #3067dd;
        }
    }

    table#queryHdr {
        background-color: #ccc;
        font-style: normal;

        td:last-child{
            color: blue;
        }
    }

    table {
        width: 100%;
        padding: 3px;

        td {
            padding: 5px;
            vertical-align: top;
        }

        tr.classI {
            td {
                /* background-color: #efe9e9; */
                color: #0f0f10;
                font-style: italic;
                font-weight: normal;
            }
        }
    }

    table#summaryData {
        td:first-child {
            font-weight: bold;
            /* white-space: nowrap; */
        }
        td:last-child {
            color: rgb(22, 10, 75)
        }
    }

    /* TODO: may need to change to a reusable ID */
    table#dataTable {
        td:first-child {
            color: blue;
        }
        tr.hdrCols td {
            background-color: #ecf5a7;
            color: #000;
            font-weight: bold;
        }
    }

    table#dataTable {
        td.hdr {
            background-color: #777;
            border-radius: 8px 8px 0 0;
            color: #fff;
            text-align: center;
        }
    }


    p{
        margin: 0 0 37px;
    }

    .output {
        color: red;
    }
    small.indent { color: #777; margin-left: 15px; }
    .greyed #id_searchQuery { color: #bbb; }
    #dataTable td.pagedDataCount {
        background-color: #2f426d;
        color: #bbb !important;
        font-size:small;
        text-align:right;
    }
</style>


{% if printOut != "None" %}
<div class="output">
    <span>{{ printOut }}</span>
</div>
{% endif %}

<div class="wrapper">
    <div class="col1">
        <form action = "" method = "post">
            {% csrf_token %}
            <div class="field">
                <label for="id_searchQuery">Search for a Church:</label>
                <small class="indent"><i>type "all" to get all data</small></i>

                {% if query is not None %}
                    <span>
                        {{ form.searchQuery }}
                    </span>
                {% else %}
                    <span class="greyed">
                        {{ form.searchQuery }}
                    </span>
                {% endif %}

                {% if form.searchQuery.errors %}
                    <div class="error-div">{{ form.searchQuery.errors.as_text }}</p>
                {% endif %}
            </div>

            <br />
            <div class="field">
                <label for="searchType">Select a search region</label>
                {{ form.searchType }}
            </div>

            <div id="stateNamesWrapper">
                <br />
                <div class="field">
                    <label for="stateNames">Select a state</label>
                    {{ form.stateNames }}
                </div>
            </div>

            <div class="field reset-link">
                <a href="/churches?reset=true" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">reset the form</a>
            </div>

            <input type = "submit" value = "Submit">
    </form>
    </div>

    <div class="col2">
        {% if query is not None %}
        <table class="table" id="queryHdr">
            <tr class="classI">
                <td>Your search query:</td>
                <td>{{ query }}</td>
            </tr>
            <tr class="classI">
                <td>Your search type/region:</td>
                <td>{{ searchType }}</td>
            </tr>

            {% if searchType != 'national' and stateName != 'select a state' %}
            <tr class="classI">
                <td>Your selected State:</td>
                <td>{{ stateName  }}</td>
            </tr>
            {% endif %}
        </table>
        {% endif %}


        {% if summaryData is not None %}
        <table class="table" id="dataTable">
            <th scope="col">
                <tr>
                    <td colspan="2" class="hdr">2020 statistical data on US Church Organizations</td>
                </tr>
            </th>
            <tr>
                <td>
                    Population 2020:
                </td>
                <td>
                    {{ summaryData.Population_2020|intcomma }}
                </td>
            </tr>
            <tr>
                <td>
                    # of Congregations:
                </td>
                <td>
                    {{ summaryData.Congregations|intcomma }}
                </td>
            </tr>
            <tr>
                <td>Congregations per 1000 population:</td>
                <td>{{ summaryData.Congregations_per_1000_population }}</td>
            </tr>
            <tr>
                <td>
                    # of Adherents:
                </td>
                <td>
                    {{ summaryData.Adherents|intcomma }}
                </td>
            </tr>
            <tr>
                <td>
                    Adherents % of population:
                </td>
                <td>
                    {{ summaryData.Adherents_percent_of_Population }}%
                </td>
            </tr>
        </table>
        {% endif %}

        {% if nationalData is not None %}
            {% if query != "all" %}
                {% include 'subtemplates/nationaldata_filtered.html' %}
            {% else %}
                {% include 'subtemplates/nationaldata_all.html' %}
            {% endif %}

            {% include 'subtemplates/paginator.html' with paged_obj=nationalData %}
        {% endif %}

        {% if stateData is not None %}
            {% if selectedState != '0' %}
                {% include 'subtemplates/statedata_filtered.html' %}
            {% else %}
                {% include 'subtemplates/statedata_all.html' %}
            {% endif %}

            {% include 'subtemplates/paginator.html' with paged_obj=stateData %}
        {% endif %}


    </div>

</div><!-- end wrapper-->


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchType = "{{ searchType }}";
        wrapDisplay = 'none';

        const stateNamesWrapper = document.getElementById("stateNamesWrapper");
        if (searchType != "by_state") {
            stateNamesWrapper.style.display = wrapDisplay;
        }

        const ddlSearchType = document.getElementById("id_searchType");
        ddlSearchType.addEventListener("change", function (event) {
            const selectedValue = event.target.value;

            if(selectedValue == 'by_state') {
                console.log("by state...")
                wrapDisplay = '';
            }
            else {
                wrapDisplay = 'none';
            }
            stateNamesWrapper.style.display = wrapDisplay;
        });
    });
</script>