{% load humanize %}
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

<link href="{% static '/css/churches.css' %}" rel="stylesheet" />

{% include 'subtemplates/loader_img.html' %}

{% if printOut != "None" %}
<div class="output">
    <span>{{ printOut }}</span>
</div>
{% endif %}

<div class="wrapper">
    <div class="col1">
        <form action = "" method = "post">
            {% csrf_token %}
            <div class="field">
                <label for="id_searchQuery">Search for a Church:</label>
                <small class="indent"><i>type "all" to get all data</small></i>

                {% if query is not None %}
                    <span>
                        {{ form.searchQuery }}
                    </span>
                {% else %}
                    <span class="greyed">
                        {{ form.searchQuery }}
                    </span>
                {% endif %}

                {% if form.searchQuery.errors %}
                    <div class="error-div">{{ form.searchQuery.errors.as_text }}</p>
                {% endif %}
            </div>

            <br />
            <div class="field">
                <label for="searchType">Select a search region</label>
                {{ form.searchType }}
            </div>

            <div id="stateNamesWrapper">
                <br />
                <div class="field">
                    <label for="stateNames">Select a state</label>
                    {{ form.stateNames }}
                </div>
            </div>

            <div id="metroNamesWrapper">
                <br />
                <div class="field">
                    <label for="metroNames">Select a metro</label>
                    {{ form.metroNames }}
                </div>
            </div>

            <div class="field reset-link">
                <a href="/churches?reset=true" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">reset the form</a>
            </div>

            <input id="submitBtn" type = "submit" value = "Submit">
    </form>
    </div>

    <div class="col2">
        {% if query is not None %}
        <table class="table" id="queryHdr">
            <tr class="classI">
                <td>Your search query:</td>
                <td>{{ query }}</td>
            </tr>
            <tr class="classI">
                <td>Your search type/region:</td>
                <td>{{ searchType }}</td>
            </tr>

            {% if searchType == 'by_state' and stateName != 'select a state' %}
            <tr class="classI">
                <td>Your selected State:</td>
                <td>{{ stateName  }}</td>
            </tr>
            {% endif %}

            {% if searchType == 'by_metro' and metroName != 'select a metro area' %}
                <tr class="classI">
                    <td>Your selected Metro Area:</td>
                    <td>{{ metroName }}</td>
                </tr>
            {% endif %}
        </table>
        {% endif %}


        {% if summaryData is not None %}
        <table class="table" id="dataTable">
            <th scope="col">
                <tr>
                    <td colspan="2" class="hdr">2020 statistical data on US Church Organizations</td>
                </tr>
            </th>
            <tr>
                <td>
                    Population 2020:
                </td>
                <td>
                    {{ summaryData.Population_2020|intcomma }}
                </td>
            </tr>
            <tr>
                <td>
                    # of Congregations:
                </td>
                <td>
                    {{ summaryData.Congregations|intcomma }}
                </td>
            </tr>
            <tr>
                <td>Congregations per 1000 population:</td>
                <td>{{ summaryData.Congregations_per_1000_population }}</td>
            </tr>
            <tr>
                <td>
                    # of Adherents:
                </td>
                <td>
                    {{ summaryData.Adherents|intcomma }}
                </td>
            </tr>
            <tr>
                <td>
                    Adherents % of population:
                </td>
                <td>
                    {{ summaryData.Adherents_percent_of_Population }}%
                </td>
            </tr>
        </table>
        {% endif %}

        {% if nationalData is not None %}
            {% if query != "all" %}
                {% include 'subtemplates/nationaldata_filtered.html' %}
            {% else %}
                {% include 'subtemplates/nationaldata_all.html' %}
            {% endif %}

            {% include 'subtemplates/paginator.html' with paged_obj=nationalData %}
        {% endif %}

        {% if stateData is not None %}
            {% if selectedState != '0' %}
                {% include 'subtemplates/statedata_filtered.html' %}
            {% else %}
                {% include 'subtemplates/statedata_all.html' %}
            {% endif %}

            {% include 'subtemplates/paginator.html' with paged_obj=stateData %}
        {% endif %}

        {% if metroData is not None %}
            {% if selectedMetro != '0' %}
                {% include 'subtemplates/metrodata_filtered.html' %}
            {% else %}
                {% include 'subtemplates/metrodata_all.html' %}
            {% endif %}

            {% include 'subtemplates/paginator.html' with paged_obj=metroData %}
        {% endif %}

    </div>

</div><!-- end wrapper-->


<script>
    document.addEventListener("DOMContentLoaded", function () {

        //helper func
        getElem = function(elemID) {
            const returnObj = document.getElementById(elemID);
            if(returnObj) {
                return returnObj;
            } else { return null }
        }


        const searchType = "{{ searchType }}";
        wrapDisplay = 'none';

        //hide loading graphic
        const loaderImg = getElem("loader-container");
        if(loaderImg) {
            loaderImg.style.display = 'none';
            console.log("have loader");
        }
        else { console.log("fuck!"); }


        const stateNamesWrapper = getElem("stateNamesWrapper");
        if (searchType != "by_state") {
            stateNamesWrapper.style.display = 'none';
        }

        if(searchType != "by_metro") {
            metroNamesWrapper.style.display = 'none';
        }


        const submitBtn = getElem("submitBtn");
        submitBtn.addEventListener("click", function (event) {
            // const dElem = event.target;
            loaderImg.style.display = '';
        });


        const ddlSearchType = getElem("id_searchType");
        ddlSearchType.addEventListener("change", function (event) {
            const selectedValue = event.target.value;

            // BY STATE
            if(selectedValue == 'by_state') {
                console.log("by state...")
                wrapDisplay = '';
            }
            else {
                wrapDisplay = 'none';
            }
            stateNamesWrapper.style.display = wrapDisplay;

            // BY METRO
            if(selectedValue == 'by_metro') {
                wrapDisplay = '';
            }
            else {
                wrapDisplay = 'none';
            }
            metroNamesWrapper.style.display = wrapDisplay;
        });
    });
</script>