{% load humanize %}
{% load static %}

<link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

<link href="{% static '/css/churches.css' %}" rel="stylesheet" />

{% include 'subtemplates/loader_img.html' %}

{% if printOut != "None" %}
<div class="output">
    <span>{{ printOut }}</span>
</div>
{% endif %}

<div class="wrapper">
    <div class="col1">
        <form action="" method="post" id="churchesSearchForm">
            {% csrf_token %}

            <div id="requiredMsg">
                <small>* denotes a required field!</small>
            </div>

            <div class="field">
                <label for="id_searchQuery" class="required">Search for a Church:</label>
                <small class="indent"><i>type "all" to get all data</small></i>

                {% if query is not None %}
                    <span>
                        {{ form.searchQuery }}
                    </span>
                {% else %}
                    <span class="greyed">
                        {{ form.searchQuery }}
                    </span>
                {% endif %}

                <div class="error-div" id="searchQueryErr">Please enter a search query!</div>
            </div>

            <br />
            <div class="field">
                <label>Select a search region</label>
                {{ form.searchType }}
            </div>

            <div id="stateNamesWrapper">
                <br />
                <div class="field">
                    {% if searchType == 'by_county' %}
                        <label id="lblStateNames" class="required">Select a state</label>
                    {% else %}
                        <label id="lblStateNames">Select a state</label>
                    {% endif %}
                    {{ form.stateNames }}
                </div>

                <div class="error-div" id="stateNamesErr">Please select state first!</div>
            </div>

            <div id="metroNamesWrapper">
                <br />
                <div class="field">
                    <label>Select a metro area</label>
                    {{ form.metroNames }}
                </div>
            </div>

            <div id="countyNamesWrapper">
                <br />
                <div class="field">
                    <label>Select a county</label>
                    {{ form.countyNames }}
                </div>
            </div>

            <div class="field reset-link">
                <a href="/churches?reset=true" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">reset the form</a>
            </div>

            <button id="submitBtn" type="button">Submit</button>
    </form>
    </div>

    <div class="col2">
        {% if query is not None %}
        <table class="table" id="queryHdr">
            <tr class="classI">
                <td>Your search query:</td>
                <td>{{ query }}</td>
            </tr>
            <tr class="classI">
                <td>Your search type/region:</td>
                <td>{{ searchType }}</td>
            </tr>

            {% if searchType == 'by_state' or searchType == 'by_county' and stateName != 'select a state' %}
            <tr class="classI">
                <td>Your selected State:</td>
                <td>{{ stateName  }}</td>
            </tr>
            {% endif %}

            {% if searchType == 'by_metro' and selectedMetro != 'select a metro area' %}
                <tr class="classI">
                    <td>Your selected Metro Area:</td>
                    <td>{{ selectedMetro }}</td>
                </tr>
            {% endif %}

            {% if searchType == 'by_county' and selectedCounty != 'select a county' %}
                <tr class="classI">
                    <td>Your selected County:</td>
                    <td>{{ selectedCounty }}</td>
                </tr>
            {% endif %}

        </table>
        {% endif %}


        {% if summaryData is not None %}
            {% include 'subtemplates/summarydata.html' %}
        {% endif %}

        {% if nationalData is not None %}
            {% if query != "all" %}
                {% include 'subtemplates/nationaldata_filtered.html' %}
            {% else %}
                {% include 'subtemplates/nationaldata_all.html' %}
            {% endif %}

            {% include 'subtemplates/paginator.html' with paged_obj=nationalData %}
        {% endif %}

        {% if stateData is not None %}
            {% if selectedState != '0' %}
                {% include 'subtemplates/statedata_filtered.html' %}
            {% else %}
                {% include 'subtemplates/statedata_all.html' %}
            {% endif %}

            {% include 'subtemplates/paginator.html' with paged_obj=stateData %}
        {% endif %}

        {% if metroData is not None %}
            {% if selectedMetro != '0' %}
                {% include 'subtemplates/metrodata_filtered.html' %}
            {% else %}
                {% include 'subtemplates/metrodata_all.html' %}
            {% endif %}

            {% include 'subtemplates/paginator.html' with paged_obj=metroData %}
        {% endif %}

    </div>

</div><!-- end wrapper-->

<script src="{% static '/js/churches.js' %}"></script>

