{% load humanize %}

<table class="table" id="dataTable">
  <tr>
    <td colspan="6" class="hdr">2020 US Church Organizations by Metro Area</td>
  </tr>
  <tr class="hdrCols">
    <td>Metro Area</td>
    <td>Group</td>
    <td>Congregations</td>
    <td>Adherents</td>
    <td>% of Adherents per Adherents</td>
    <td># of Adherents per US population</td>
  </tr>
  {% for churchGroup in metroData %}
  <tr>
    <td>{{ churchGroup.MetroName }}</td>
    <td>{{ churchGroup.GroupName }}</td>
    <td>{{ churchGroup.Congregations|intcomma }}</td>
    <td>{{ churchGroup.Adherents|intcomma }}</td>
    <td>{{ churchGroup.Adherents_percent_of_Total_Adherents }}%</td>
    <td>{{ churchGroup.Adherents_percent_of_Population }}%</td>
  </tr>
  {% endfor %}

  <tr class="pagerCountRow">
    <td colspan="6" class="pagedDataCount">
      {{ metroData }}
    </td>
  </tr>
</table>