{% load humanize %}

<table class="table" id="dataTable">
  <tr>
    <td colspan="3" class="hdr">2020 National US Church Organizations</td>
  </tr>
  <tr class="hdrCols">
    <td>
      Group Name
    </td>
    <td>
      Congregations
    </td>
    <td>
      Adherents
    </td>
  </tr>
  {% for churchGroup in nationalData %}
  <tr>
    <td>
      {{ churchGroup.GroupName }}
    </td>
    <td>
      {{ churchGroup.Congregations|intcomma }}
    </td>
    <td>
      {{ churchGroup.Adherents|intcomma }}
    </td>
  </tr>
  {% endfor %}
</table>