{% load humanize %}

<table class="table  table-striped" id="dataTable">
  <tr>
    <td colspan="3" class="hdr">2020 National US Church Organizations</td>
  </tr>
  <tr class="hdrCols">
    <td>
      Group
    </td>
    <td>
      Congregations
    </td>
    <td>
      Adherents
    </td>
  </tr>
  {% for churchGroup in nationalData %}
  <tr>
    <td>
      {{ churchGroup.groupname }}
      <div>{{ churchGroup.groupcode }}</div>
    </td>
    <td>
      {% if churchGroup.congregations %}
        {{ churchGroup.congregations|intcomma }}
      {% endif %}
    </td>
    <td>
      {% if churchGroup.adherents %}
        {{ churchGroup.adherents|intcomma }}
      {% endif %}
    </td>
  </tr>
  {% endfor %}

  <tr class="pagerCountRow">
    <td colspan="3" class="pagedDataCount">
      {{ nationalData }}
    </td>
  </tr>
</table>