{% load humanize %}

<table class="table  table-striped" id="dataTable">
  <tr>
    <td colspan="5" class="hdr">2020 National US Church Organizations</td>
  </tr>
  <tr class="hdrCols">
    <td>Group</td>
    <td>Congregations</td>
    <td>Adherents</td>
    <td>% of Adherents per Adherents</td>
    <td># of Adherents per US population</td>
  </tr>


  {% if nationalData|length == 0 %}
    <tr>
      <td colspan="5" class="noDataFound">
        No data found for the selected criteria.
      </td>
    </tr>
  {% endif %}

  {% for churchGroup in nationalData %}
  <tr>
    <td>
      {{ churchGroup.groupname }}
    </td>
    <td>
      {% if churchGroup.congregations %}
        {{ churchGroup.congregations|intcomma }}
      {% endif %}
    </td>
    <td>
      {% if churchGroup.adherents %}
        {{ churchGroup.adherents|intcomma }}
      {% endif %}
    </td>
    <td>
      {% if churchGroup.adherents_percent_of_total_adherents %}
        {{ churchGroup.adherents_percent_of_total_adherents }}%
      {% endif %}
    </td>
    <td>
      {% if churchGroup.adherents_percent_of_population %}
        {{ churchGroup.adherents_percent_of_population }}%
      {% endif %}
    </td>
  </tr>
  {% endfor %}

  <tr class="pagerCountRow">
    <td colspan="5" class="pagedDataCount">
      {{ nationalData }}
    </td>
  </tr>
</table>