<!-- // Source - https://stackoverflow.com/a
// Posted by flaab
// Retrieved 2025-11-19, License - CC BY-SA 4.0 -->

{% if paged_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if paged_obj.paginator.num_pages != 1 %}
      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
    {% endif %}

    {% if paged_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ paged_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
    {% endif %}

    {% for i in paged_obj.paginator.page_range %}
      {% if paged_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
        </li>
      {% elif paged_obj.number > i|add:"-5" and paged_obj.number < i|add:"+5"%}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

      {% if paged_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ paged_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
      {% endif %}

      {% if paged_obj.paginator.num_pages != paged_obj.number %}
        <li class="page-item"><a class="page-link" href="?page={{ paged_obj.paginator.num_pages }}">Last</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
      {% endif %}
  </ul>
</nav>
{% endif %}




<script type="text/javascript">

//check for DOM loaded before grabbbing isht from the page
    document.addEventListener("DOMContentLoaded", function () {
      var pageLinks = document.getElementsByClassName('page-link');

      //need to iterate on the visible page-links to add the click event listener
      var curObj;
      for(cnt=0; cnt<pageLinks.length;cnt++) {
        curObj = pageLinks[cnt];
        curObj.addEventListener('click', function(evt) {
          document.getElementById("loader-container").style.display = '';
        });

      }
    });

</script>