{% load humanize %}

<table class="table  table-striped" id="dataTable">
  <tr>
    <td colspan="4" class="hdr">2020 US Church Organizations by State</td>
  </tr>
  <tr class="hdrCols">
    <td>State</td>
    <td>Group</td>
    <td>Congregations</td>
    <td>Adherents</td>
  </tr>

  {% for churchGroup in stateData %}
  <tr>
    <td>{{ churchGroup.statename }}</td>
    <td>{{ churchGroup.groupname }}</td>
    <td>
      {% if churchGroup.congregations %}
      {{ churchGroup.congregations|intcomma }}
      {% endif %}
    </td>
    <td>
      {% if churchGroup.adherents %}
      {{ churchGroup.adherents|intcomma }}
      {% endif %}
    </td>
  </tr>
  {% endfor %}

  <tr class="pagerCountRow">
    <td colspan="4" class="pagedDataCount">
      {{ stateData }}
    </td>
  </tr>
</table>