{% load humanize %}

<table class="table" id="dataTable">
  <tr>
    <td colspan="4" class="hdr">2020 US Church Organizations by State</td>
  </tr>
  <tr class="hdrCols">
    <td>State</td>
    <td>Group</td>
    <td>Congregations</td>
    <td>Adherents</td>
  </tr>

  {% for churchGroup in stateData %}
  <tr>
    <td>{{ churchGroup.StateName }}</td>
    <td>{{ churchGroup.GroupName }}</td>
    <td>
      {% if churchGroup.Congregations %}
      {{ churchGroup.Congregations|intcomma }}
      {% endif %}
    </td>
    <td>
      {% if churchGroup.Adherents %}
      {{ churchGroup.Adherents|intcomma }}
      {% endif %}
    </td>
  </tr>
  {% endfor %}

  <tr class="pagerCountRow">
    <td colspan="4" class="pagedDataCount">
      {{ stateData }}
    </td>
  </tr>
</table>