{% load humanize %}

<table class="table" id="dataTable">
  <tr>
    <td colspan="6" class="hdr">2020 US Church Organizations by State</td>
  </tr>
  <tr class="hdrCols">
    <td>State</td>
    <td>Group</td>
    <td>Congregations</td>
    <td>Adherents</td>
    <td>% of Adherents per Adherents</td>
    <td>% of Adherents per US population</td>
  </tr>
  {% for churchGroup in stateData %}
  <tr>
    <td>{{ churchGroup.StateName }}</td>
    <td>{{ churchGroup.GroupName }}</td>
    <td>
      {% if churchGroup.Congregations %}
        {{ churchGroup.Congregations|intcomma }}
      {% endif %}
    </td>
    <td>
      {% if churchGroup.Adherents %}
        {{ churchGroup.Adherents|intcomma }}
      {% endif %}
    </td>
    <td>
      {% if churchGroup.Adherents_percent_of_Total_Adherents %}
        {{ churchGroup.Adherents_percent_of_Total_Adherents }}%
      {% endif %}
    </td>
    <td>
      {% if churchGroup.Adherents_percent_of_Population %}
        {{ churchGroup.Adherents_percent_of_Population }}%
      {% endif %}
    </td>
  </tr>
  {% endfor %}

  <tr class="pagerCountRow">
    <td colspan="6" class="pagedDataCount">
      {{ stateData }}
    </td>
  </tr>
</table>