{% load humanize %}

<div class="hdr-lite">2020 statistical data on US Church Organizations</div>

<table class="table table-striped-columns summaryDataTbl" id="dataTable">
  <tr>
    <td>Population 2020:</td>
    <td>
      {{ summaryData.Population_2020|intcomma }}
    </td>
  </tr>
  <tr>
    <td># of Congregations:</td>
    <td>
      {% if summaryData.Congregations %}
        {{ summaryData.Congregations|intcomma }}
      {% endif %}

    </td>
  </tr>
  <tr>
    <td>Congregations per 1000 population:</td>
    <td>
      {% if summaryData.Congregations_per_1000_population %}
        {{ summaryData.Congregations_per_1000_population }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td># of Adherents:</td>
    <td>
      {% if summaryData.Adherents %}
        {{ summaryData.Adherents|intcomma }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Adherents % of population:</td>
    <td>
      {% if summaryData.Adherents_percent_of_Population %}
        {{ summaryData.Adherents_percent_of_Population }}%
      {% endif %}
    </td>
  </tr>
</table>

<div class="summaryFtr">
  <small>
    <p>
      <b>Data Source:</b> <a href="https://www.usreligioncensus.org/node/1639" target="_blank">US Religion Census 2020: Maps & Data Files page</a>
      <br />
      There is a wealth of information there with charts and stuff if you're interested!
    </p>

    <p>
      <b>My nerd notes:</b> With the datasets, I made my own UI for the data after normalizing and cleaning it up a bit.  Here's <a href="https://github.com/garyvaughan1221/django_form" target="_blank">the github code</a> if you're interested.  *there are two branches.
    </p>
  </small>
</div>