{% load humanize %}

<table class="table table-striped-columns summaryDataTbl" id="dataTable">
  <thead>
    <td colspan="2" class="hdr-lite">2020 statistical data on US Church Organizations</td>
  </thead>
  <tr>
    <td>Population 2020:</td>
    <td>
      {{ summaryData.Population_2020|intcomma }}
    </td>
  </tr>
  <tr>
    <td># of Congregations:</td>
    <td>
      {% if summaryData.Congregations %}
        {{ summaryData.Congregations|intcomma }}
      {% endif %}

    </td>
  </tr>
  <tr>
    <td>Congregations per 1000 population:</td>
    <td>
      {% if summaryData.Congregations_per_1000_population %}
        {{ summaryData.Congregations_per_1000_population }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td># of Adherents:</td>
    <td>
      {% if summaryData.Adherents %}
        {{ summaryData.Adherents|intcomma }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Adherents % of population:</td>
    <td>
      {% if summaryData.Adherents_percent_of_Population %}
        {{ summaryData.Adherents_percent_of_Population }}%
      {% endif %}
    </td>
  </tr>
</table>